* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    background-color: rgb(228, 231, 232);
    grid-column-start: 1;
    grid-column-end: 11;
    padding: 0em;    
}
.pic {
    height: 8vw;
}
.asst, .packMan {
    padding: 0em;
    margin: 0em;
}

.mainContainer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 50px 100px 200px 200px;
    grid-column-gap: 10px; 
    grid-row-gap: 1px; 
}
.mainContainer2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}
.mainContainer > div, h1, h2 {
    display: grid;
    place-items: center;
}
.container {
    background-color: rgb(157, 191, 203);
    border: 1px solid black;
    padding: .5em;
    height: 500px;
}
.container2 {
    background-color: rgb(91, 131, 145);
    border: 1px solid black;
    padding: .5em;
    height: 320px;
    width: 300px;
    text-align: center;
    margin: 6px 6px 6px 6px;
  }

.currentList {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end:1;
    place-items: center;
}
.left {
    background-color: #3e969b;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6; 
}
.btn {
    margin-left: 8px;
}
.newContainer {
    border: 1.5px solid black;
    padding: 1em;
    background-color: rgb(199, 199, 211);
    grid-column-start: 10;
    grid-row-start: 3;
    grid-row-end: 5;
}

.footer {
    background-color: rgb(231, 189, 134);
    grid-column-start: 1;
    grid-column-end: 11;
    padding: 0em;   
    height: 80px;
    place-items: center;
    margin-top: 100px;
}
.footer-link {
    margin-right: 100px;
    color: white;
    font-size: 20px;
    padding: 2em;
    place-items: center;
}
.outfitPic {
    height: 200px;
}
.OutfitOptions {
    margin-top: 70px;
}